@page "/about"
<PageTitle>About</PageTitle>
This website will built as a tool to be used for free by the users of <a href="https://www.toptrailhorse.com" >TopTrailHorse.com</a> and will never be monotized.  
<br/>
Should the owner of TopTrailHorse.com request this site be taken down at any time, this request will be honored as soon as possible.  Please email any questions to Kodi.Brunson@gmail.com
@code {
    
}