@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="header">
            <div class="title"><h1>TopTrailHorse Ride Extractor</h1></div>
            <div class="about"><a href="/about" target="_blank" class="link">About</a></div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>